/* src/components/Home.css */
.land-container {
    color: white;
    padding-top: 160px; /* Adjust to the height of your navbar */
    padding-bottom: 50px;
    min-height: 100vh; /* To ensure the container takes full viewport height */
}
.join-container {
    color: white;
    padding-top: 160px; /* Adjust to the height of your navbar */
    padding-bottom: 50px;
}

.bg-primary {
    background-color: #005f99; /* Primary blue color */
}

.bg-secondary {
    background-color: #4caf50; /* Secondary green color */
}

.home-content {
    max-width: 960px; /* Or the max-width you desire */
    margin: auto;
    padding: 2em;
    text-align: center;
}

.home-title {
    font-size: 2.5em; /* Adjust to match your design */
    margin-bottom: 20px;
}

.home-description {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.home-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Space between buttons */
    margin-bottom: 20px;
}

.home-button {
    background-color: #0084ff; /* Adjust to match your design */
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.home-button img {
    margin-right: 8px;
    height: 24px; /* Adjust to match your design */
}

.home-button:hover {
    background-color: #006fdd; /* Darker shade for hover state */
}

.home-features-link {
    color: white;
    text-decoration: underline;
}

.join-link {
    background-color: #0044cc;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 2rem;
}

.join-link:hover {
    background-color: #0033a0;
}

.large-icon {
    font-size: 3rem; /* Larger icons */
    color: white;
}

/* Styling for feature sections under each icon */
.row .col-md-3 {
    margin-bottom: 1rem;
}

.row .col-md-3 h4 {
    color: white;
    font-size: 1.2rem; /* Title size for features */
}

.row .col-md-3 p {
    color: white;
    font-size: 1rem; /* Text size for features */
    margin-top: 0.5rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .home-content {
        padding: 1em;
    }

    .home-title {
        font-size: 1.5em;
    }

    .home-buttons {
        flex-direction: column;
    }

    .home-button {
        width: 100%;
        margin: 10px 0;
    }

    .large-icon {
        font-size: 2rem; /* Smaller icons on mobile */
    }

    .row .col-md-3 {
        margin-bottom: 1.5rem;
    }

    .row .col-md-3 h4 {
        font-size: 1rem; /* Smaller title size on mobile */
    }

    .row .col-md-3 p {
        font-size: 0.9rem; /* Smaller text size on mobile */
    }
}
